# Values for the kubescape operator app

exceptions:
  enabled: true
  namespace: policy-exceptions

image:
  name: ""
  tag: ""

kubescape-operator:
  configurations:
    prometheusAnnotations:
  kubescape:
    image:
      repository: "gsoci.azurecr.io/giantswarm/kubescape"
  operator:
    image:
      repository: "gsoci.azurecr.io/giantswarm/kubescape-operator"
  kubevuln:
    image:
      repository: "gsoci.azurecr.io/giantswarm/kubescape-kubevuln"
  storage:
    image:
      repository: "gsoci.azurecr.io/giantswarm/kubescape-storage"
  nodeAgent:
    config:
      prometheusExporter: enable
    serviceMonitor:
      enabled: true
      additionalLabels:
        application.giantswarm.io/team: shield
    image:
      repository: "gsoci.azurecr.io/giantswarm/kubescape-node-agent"
  prometheusExporter:
    image:
      repository: "gsoci.azurecr.io/giantswarm/kubescape-prometheus-exporter"
  serviceDiscovery:
    # urlDiscovery:
    #   image:
    # NOT RETAGGED YET
    #     repository: "gsoci.azurecr.io/giantswarm/kubescape-http-request"
    configMapUpdate:
      image:
        repository: "gsoci.azurecr.io/giantswarm/kubectl"

  # NOT RETAGGED YET
  # hostScanner:
  #   image:
  #     repository: "gsoci.azurecr.io/giantswarm/kubescape-host-scanner"
  #
  # clamav:
  #   image:
  #     repository: "gsoci.azurecr.io/giantswarm/kubescape-clamav"
  #
  # synchronizer:
  #   image:
  #     repository: "gsoci.azurecr.io/giantswarm/kubescape-synchronizer"
  # otelCollector:
  #   image:
  #     repository: "gsoci.azurecr.io/giantswarm/kubescape-otel-collector"
  # helmRelease?upgrader:
  #   image:
  #     repository: "gsoci.azurecr.io/giantswarm/kubescape-helm-release-upgrader"
  # kubescapeScheduler:
  #   image:
  #     repository: "gsoci.azurecr.io/giantswarm/kubescape-http-request"
  # kubevulnScheduler:
  #   image:
  #     repository: "gsoci.azurecr.io/giantswarm/kubescape-http-request"
  # registryScanScheduler:
  #   image:
  #     repository: "gsoci.azurecr.io/giantswarm/kubescape-http-request"
