# Values for the kubescape operator app

exceptions:
  enabled: true
  namespace: policy-exceptions

image:
  name: ""
  tag: ""

kubescape-operator:
  capabilities:
    configurationScan: disable
    continuousScan: enable
    nodeScan: enable

    vulnerabilityScan: enable
    relevancy: enable
    malwareDetection: enable

    runtimeObservability: enable
    networkPolicyService: enable
    runtimeDetection: enable
    nodeProfileService: enable
    seccompProfileService: enable

  kubescape:
    image:
      repository: "gsoci.azurecr.io/giantswarm/kubescape"
  operator:
    image:
      repository: "gsoci.azurecr.io/giantswarm/kubescape-operator"
  kubevuln:
    image:
      repository: "gsoci.azurecr.io/giantswarm/kubescape-kubevuln"
  storage:
    image:
      repository: "gsoci.azurecr.io/giantswarm/kubescape-storage"
  hostScanner:
    image:
      repository: "gsoci.azurecr.io/giantswarm/kubescape-host-scanner"
  clamav:
    image:
      repository: "gsoci.azurecr.io/giantswarm/kubescape-klamav"
  synchronizer:
    image:
      repository: "gsoci.azurecr.io/giantswarm/kubescape-synchronizer"
  otelCollector:
    image:
      repository: "gsoci.azurecr.io/giantswarm/kubescape-otel-collector"
  kubescapeScheduler:
    image:
      repository: "gsoci.azurecr.io/giantswarm/kubescape-http-request"
  kubevulnScheduler:
    image:
      repository: "gsoci.azurecr.io/giantswarm/kubescape-http-request"
  registryScanScheduler:
    image:
      repository: "gsoci.azurecr.io/giantswarm/kubescape-http-request"
  nodeAgent:
    config:
      stdoutExporter: true
      maxLearningPeriod: 12h
      learningPeriod: 2m
      updatePeriod: 10m
      prometheusExporter: enable
    serviceMonitor:
      enabled: true
      additionalLabels:
        application.giantswarm.io/team: shield
    image:
      repository: "gsoci.azurecr.io/giantswarm/kubescape-node-agent"
  prometheusExporter:
    image:
      repository: "gsoci.azurecr.io/giantswarm/kubescape-prometheus-exporter"
  serviceDiscovery:
    urlDiscovery:
      image:
        repository: "gsoci.azurecr.io/giantswarm/kubescape-http-request"
    configMapUpdate:
      image:
        repository: "gsoci.azurecr.io/giantswarm/kubectl"
