version: 2.1
orbs:
  architect: giantswarm/architect@6.14.0

workflows:
  package-and-push-chart-on-tag:
    jobs:
    - architect/push-to-app-catalog:
        context: architect
        executor: app-build-suite
        name: package-and-push-chart
        app_catalog: giantswarm-catalog
        app_catalog_test: giantswarm-test-catalog
        chart: 'kubescape'
          # Trigger job on git tag.
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore:
            - main
            - master

    - architect/push-to-app-catalog:
        context: architect
        executor: app-build-suite
        name: push-kubescape-chart-to-default-catalog
        app_catalog: default-catalog
        app_catalog_test: default-test-catalog
        persist_chart_archive: true
        chart: kubescape
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore:
            - main
